:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-radius: 5px;
    border-top-left-radius:0;
    border-top-right-radius:0;

  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: #fff;
    font-size: 20px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #fff;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }

  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
  }


  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 10px; 
    height: 10px;  
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    cursor: pointer; 
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgb(248, 235, 235), 0 0 7px rgba(100, 100, 111, 1);
  }

  /* PLAYLIST */
  .playlist {
    margin-top: 470px;
    padding: 12px 0;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #1a1c2f;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: #fff;
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
  }

  body {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  }

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.volume-control {
  width: 100%;
}

.volume {
  width: 80%;
  margin: 0 8px;
  height: 6px;
}

.volume-wrap {
  margin-top: 12px;
}

.volume-percent {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 6px;

}

.volume-up, .volume-down {
  color: #fff;
}

.volume-control {
  margin-top: 6px;
  display: flex;
  justify-content: center  ;
  align-items: center;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 1px; 
    height: 1px;  
    cursor: pointer; 
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(248, 235, 235), 0 0 7px rgba(100, 100, 111, 1);

}

.footer {
  height: 40px;
  background-color: #333;
}

.info {
  display: flex;
  justify-content: center;
  line-height: 40px;
  color: #fff;
}

.copyright {
  color: #fff;
  font-size:16px;
  font-weight: 500;
  transition: 0.4s ease;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright:hover {
  transform: scale(1.1);
  color: #1db954;
  
}